# OS / IDE
.DS_Store
.idea/
.vscode/

# Dependencies
node_modules/

# Build artifacts
dist/
build/
.next/

.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.tsbuildinfo
tmp/
temp/

# Backend generated
backend/.env
backend/prisma/generated/
